/* Tags */

html {
  overflow-y: scroll;
  height: 100%; 
}

body {
  text-align: justify;
  font-family: 'Cormorant Garamond', serif;
  max-width: 1200px;
  margin: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(173, 173, 173);
  padding-bottom: 30px;
  border-left: 1px solid rgb(170, 170, 170);
  border-right: 1px solid rgb(170, 170, 170);
  box-shadow: 0 0 10px 5px rgb(122, 122, 122);
  min-height: 100%; 
}

/* Placeholders */

::placeholder {
  color: rgb(0, 0, 0);
  }

  
/* Titles */

.paper-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 60px;
  color: rgb(0, 0, 0);
  cursor: default; 
}

/* Search Delim */
.search-operator-top {
  border-top: 2px solid #777;
  height: 3px;
  margin: auto; 
}

.search-operator {
  padding: 0;
  margin: auto;
  border-top: 1px solid #777;
  border-bottom: 2px solid #777;
  height: 33px;
  line-height: 30px;
  color: #ccc; 
}

.search-operator-bottom {
  border-bottom: 1px solid #777;
  height: 2px;
  margin: auto; 
}

.search-bar {
  height: 26px;
  width: 100%;
  border: none;
  font-family: 'Cormorant Garamond', serif;
  background-color: rgb(173, 173, 173);
  color: rgb(0, 0, 0);
  text-align: center;
 }

.search-bar::-webkit-calendar-picker-indicator {
  display: none; 
}

.no-matches {
  display: none;
  padding-top: 10px; 
}

/* Articles */
.article {
  padding: 10px;
  padding-top: 0;
  position: relative; 
}

.article-animate {
  opacity: 0; 
}

.standard-title {
  margin-bottom: 10px;
  border-bottom: 1px solid #777;
  color: #222;
  transition: background-color 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', cursive;
  word-wrap: break-word; 
}

/* Grayed Out */
.grayed-title > span {
  width: 100%;
  background-color: #777;
  color: #777;
  display: inline-block;
  margin-top: 0;
  font-size: 24px;
 }

.article:nth-child(2n) .grayed-text-container {
  float: left; 
}

.grayed-text-container {
  width: 65%;
  min-height: 200px;
  float: right;
 }

.grayed-text > span {
  color: #aaa;
  background-color: #aaa;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  width: 100%;
 }

.grayed-text > span:last-child {
  width: 60%; 
}

.grayed-text:last-child > span:last-child {
  width: 30%; 
}

.grayed-text:first-child {
  margin-top: 0; 
}

.article:nth-child(2n) .grayed-image {
  float: right; 
}

.grayed-image {
  width: 30%;
  float: left;
  min-height: 200px;
  background-color: #999;
  border: 3px solid #444;
  color: #999; 
}

/* Helpers */
.searchmatch {
  background-color: yellow; 
}

.grayscale {
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat; 
}

.grayscale:hover {
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  filter: grayscale(0); 
}

.article > a,
.article > a:hover,
.article > a:active,
.article > a:visited {
  text-decoration: none;
 }

/* First Article */
.image-article-1 {
  background-repeat: no-repeat;
  background-position: center 10%; 
}

.image-container-1 {
  margin-bottom: 10px; }

.text-container-1 {
  column-count: 1; }
  @media (min-width: 768px) {
    .text-container-1 {
      column-count: 2; } }
  @media (min-width: 992px) {
    .text-container-1 {
      column-count: 3; } }

.title-1 {
  font-size: 80px;
  border-bottom: none;
  font-family: 'Montserrat', sans-serif; 
}

.text-container-2-2 {
  float: right; 
}

/* Second Article */
.title-2 {
  font-size: 60px;
  border-bottom: none; }

/* Third/Fourth Article */
.image-article-3,
.image-article-4 {
  background-repeat: no-repeat;
  background-position: center 10%; 
}

.text-container-3,
.text-container-4 {
  column-count: 1; }
  @media (min-width: 768px) {
    .text-container-3,
    .text-container-4 {
      column-count: 2; } }

.image-container-4 {
  float: right;
 }

.image-container-2,
.image-container-3,
.image-container-4 {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .image-container-2,
    .image-container-3,
    .image-container-4 {
      margin-bottom: 0; } }

/* Three Lines */
.header-lines {
  background-color: #444;
  color: #fff;
  margin-bottom: 10px; 
}

@media (min-width: 768px) {
  .second-line {
    border-left: 1px solid #777;
    border-right: 1px solid #777; } }

.image-lines {
  margin-bottom: 10px; 
}


